@import "mixins";

.g-list{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;

  &-item{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    padding-right: 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #686868;
  }
  &-text{
    flex: 1;
    line-height: 1.5;
    @include ellipsis();
  }
}